pre {
  overflow: auto;
}

pre > code {
  display: block;
  min-width: 900px;
/*  font-size: 1.1em;*/
}

body {
/*  font-size: 1.1em;*/
}

h2 {
/*  font-size: 24px;*/
}

@media (max-width: 767px){
  .affix {
    position: static;
    width: auto;
    top: 0;
  }
}